<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>